# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Environment files
.env

# Local app data
sent-jobs.json
settings.json

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

.env
settings.json
smtp_test.py
LinkedIn.git
